<div>
    <div ng-if="score.score>500" >
            <div *ngFor="let emprestimo of emprestimos">
            <div mdbModal #basicModal="mdbModal" class="modal fade in show" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="false" style="display:block;">
                    <div class="modal-dialog" role="document" style="width:300px;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <p>Olá<br>Sr Claudio</p>
                        </div>
                        <div class="modal-body">
                          <p>
                            <br>Não idêntificamos o pagamentoa da {{emprestimo.n_parcelas_paga + 1 }} parcela<br>do seu contrato
                            no valor de R${{emprestimo.valor_parcelas_juros}}<br>
                            <br>Gostariamos de entender os motivos e se possivel, propor uma solução<br>
                            <br>Gostaria de simular uma<br>negociação?
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Recusar</button>
                          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect routerLink="/renegociar"  [queryParams]="{id:emprestimo._id}">Aceitar</button>
                        </div>
                      </div>
            </div>
          </div>
    </div>

</div>
